<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="30">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.2/mqttws31.min.js" type="text/javascript"></script>
  <script src="{{url_for('static', filename='mqtt.js') }}" type="text/javascript"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <style>
      #register_btn{
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
      }
      p {
          text-align: left
      }
  </style>
</head>
<body>
    <div class="login-page">
            <div class="form">
                {% if crying == True %}
                <p style="font-size: 24px;"><b>아이가 울고 있어요</b></p>
                {% endif %}
                {% if action == "lullaby" %}
                <p>아이가 울면 자장가를 재생합니다</p>
                {% else %}
                <p>아이가 울면 유튜브를 재생합니다</p>
                <p><small>유튜브 url<br/>: youtube.com/{{ url }}</small></p>
                {% endif %}
            <div class="sort-contents">
                <input id="action-lullaby" type="radio" name="action" onclick="disable_url_input()" checked>
                <label for="action-lullaby">자장가</label>
                <input id="action-youtube" type="radio" name="action" onclick="able_url_input()">
                <label for="action-youtube">유튜브</label> 
            </div>
            <form class="login-form">
                <input id="url_input" type="text" name="url" vlaue="" placeholder="url" disabled="disabled"/>
                <input id="register_btn" type="button" onclick=register_action() value="Register"/>
            </form>
            </div>
    </div>
    <script>
        function disable_url_input() {
            action_lullaby = document.getElementById("action-lullaby");
            url_input = document.getElementById("url_input");
            if(action_lullaby.checked == true) {
                url_input.disabled = true
            }
        }

        function able_url_input() {
            action_youtube = document.getElementById("action-youtube");
            url_input = document.getElementById("url_input");
            if(action_youtube.checked == true) {
                url_input.disabled = false
            }
        }

        function register_action() {
            register_url = "/register/";
            action = (document.getElementById("action-lullaby").checked == true) ? "lullaby" : "youtube"; 
            
            if(action == "lullaby") {
                register_url += "lullaby";
            } else if(action == "youtube") {
                youtube_link = document.getElementById("url_input").value;
                youtube_link = encodeURI(youtube_link)
                register_url += "youtube/" + youtube_link
                if(youtube_link = "") {
                    //make pop up saying enter the youtube url
                }
            }
            window.location.href = register_url;
        }
    </script>
</body>
</html>